@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
  }
  p {
    font-family: 'Open Sans', sans-serif;
  }

.signup-popup{
    position: fixed;
    width: 100%;
    height:100vh;
    background-color: var(--darker-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 69;
    color:var(--light-text);
}
.signup-form{
    display: inline-flex;
    flex-direction: column;    
    background: var(--darker-bg);
    padding: 0.5rem 1rem;
}
.form-span{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

}
.form-switch{
  text-align: center;
  margin-top: 1.2rem;
}
.login-button{
  font-size:1.2rem;
  color: var(--light-text);
  background: var(--darker-bg);
  box-sizing: border-box;
  border:.1rem solid var(--light-text);
  border-radius: .4rem;
  padding:.4rem 2.5rem;  
  margin:0 auto;
  text-decoration: none;
  font-family: 'Open sans', sans-serif;
  width: 10rem;
  margin-top: 1rem;
}
.login-button:hover{
  background: var(--light-text);
  color: var(--darker-bg);
  transition: ease-in-out .14s;

}

.formLabel{
  font-family: 'Open sans', sans-serif;
  margin: .1rem 0;
  margin-left: .2rem;
  font-size: .9rem;
}
.textinputfield{
  font-family: 'Open sans', sans-serif;
  background: var(--darker-bg);
  border:1px solid var(--darker-bg);
  border-bottom:1px solid var(--darker-text);
  padding: .5rem .2rem .5rem .2rem;
  width: 20rem;
  color:var(--darklight-text);
  font-size: 1.1rem;
  letter-spacing: .02rem;
}
.textinputfield::placeholder{
  color:var(--darklight-text);
}
.textinputfield:focus{
  font-family: 'Open sans', sans-serif;
  background-color: var(--darker-bg);
  outline: none;
}
label{
  color:var(--light-text);
  letter-spacing: .02rem;
}
.switch-text{
  text-decoration: none;
  color:var(--light-text);
  letter-spacing: .01rem; 
}
.radio-container {
  display: flex;
  align-items: center;
}

.radio-label {
  font-family: 'Open sans', sans-serif;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-input + .radio-label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  background: white;
  border: 1px solid var(--darker-text);
  border-radius: 50%;
  margin-right: 0.5rem;
}

.radio-input:checked + .radio-label:before {
  background: var(--darker-bg);
  border: 1px solid var(--darker-text);
}

.radio-input:focus + .radio-label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.radio-input:checked:focus + .radio-label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.radio-input:focus:not(:checked) + .radio-label:before {
  border-color: var(--darker-text);
}

.radio-input:checked:focus + .radio-label:before {
  border-color: var(--darker-text);
}

.radio-input:disabled + .radio-label:before {
  background: #e6e6e6;
  border-color: #adadad;
}

.radio-input:checked + .radio-label:after {
  content: '';
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: var(--light-text);
  position: relative;
  top: -0.22rem;
  left: 0.22rem;
}

.radio-label:hover:before {
  border-color: var(--darker-text);
}